XUnitTestProject/TestData/Input/company.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="GSTID" type="xs:string"/>
        <xs:element name="Address" type="xs:string"/>
        <xs:element name="Sector" type="xs:string"/>
        <xs:element name="Director" type="xs:string"/>
      </xs:sequence>

    </xs:complexType>
  </xs:element>

</xs:schema>